/* Container */
.container {
    max-width: 800px;
    margin: auto;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Calendar Table Styling */
.calendar-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px solid #f2f2f2; /* Add outer border */
}

.calendar-table th, .calendar-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #f2f2f2; /* Clear separation between cells */
    background-color: #333; /* Background color of table cells */
    color: #FFCC00; /* Text color */
}

.calendar-table th {
    background-color: #FFCC00;
    color: black;
    font-size: 18px;
}

.calendar-table td {
    background-color: #444;
    color: #f2f2f2;
    font-size: 16px;
}

.calendar-table tr {
    transition: background-color 0.3s;
}

.calendar-table tr:hover {
    background-color: #555;
    color: white;
}

/* Button Styling */
button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #FFCC00;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #FFB300;
}
