<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Meal Planner</h1>
        <button id="generate-btn">Generate Meal Plan</button>
        <button id="list-btn">Shopping List</button>
        <button id="calendar-btn">Calendar</button>
        <button id="options-btn">Options</button>
        <div id="recipes"></div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
